.cardsNFTs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "pictureNFT pictureNFT pictureNFT pictureNFT pictureNFT"
    " textNFT textNFT textNFT textNFT buttonBSC"
    "infoCreator infoCreator infoCreator infoCreator infoCreator";
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-area: card;

  padding: 15px;
  width: 384px;
  height: 538px;
  margin: 50px 10px 0 10px;

  font-size: 16px;

  border-radius: 24px;
  background-color: #272d37;

  & h2 {
    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;

    font-size: 20px;
    line-height: 32px;
  }

  .spanCount {
    position: absolute;
    inset: -25px 0px 0px -15px;
    display: block;

    width: 50px;
    height: 50px;
    padding-left: 19px;
    padding-top: 12px;

    border-radius: 50%;
    background-color: #1e50ff;
  }

  .stocks {
    grid-area: stocks;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    // & span {
    //   padding: 5px;
    // }

    .less {
      width: 40px;
      height: 40px;
    }

    .less:hover {
      background-color: #3b5edb;
    }

    .more {
      width: 40px;
      height: 40px;
    }

    .more:hover {
      background-color: #3b5edb;
    }
  }

  .pictureNFT {
    grid-area: pictureNFT;

    padding: 10px;
    margin: 0 auto;
    width: 336px;
    height: 352px;

    border-radius: 60px;
  }

  .textNFT {
    grid-area: textNFT;

    padding: 10px;

    font-size: 14px;
  }

  & button {
    grid-area: buttonBSC;

    padding: 10px;
    width: 75px;
    height: 45px;

    color: aliceblue;
    border-radius: 10px;
    background-color: #1e50ff;
  }

  .creatorNFT {
    display: grid;
    grid-area: infoCreator;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-template-areas:
      "imagen creator creator price"
      "imagen creator creator price";

    padding: 15px;

    font-size: 14px;

    & img {
      grid-area: imagen;

      width: 56px;
      height: 56px;

      border-radius: 10px;
    }

    .containerCreator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: creator;
    }

    .containerPrice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: price;
    }
  }
}
