.headerCartAdd {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;

  color: aliceblue;
  background-color: #02050e;
}

.mainCartAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  width: 100%;
  height: auto;

  color: aliceblue;
  background-color: #02050e;

  .noCards {
    width: 100%;
    height: 80vh;

    & button {
      width: 180px;
      height: 50px;

      color: aliceblue;
      border-radius: 5px;
      background-color: #1e50ff;
    }

    & button:hover {
      border: 1px #1e50ff solid;

      background-color: rgba(30, 80, 255, 0.15);
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btnRemove {
      width: 200px;
      height: 42px;

      font-size: 16px;

      color: aliceblue;
      border-radius: 5px;
      background-color: #1e50ff;

      & i {
        margin-left: 10px;

        color: aliceblue;
      }
    }

    .btnRemove:active {
      border: 1px #1e50ff solid;

      background-color: rgba(30, 80, 255, 0.15);

      & i {
        color: red;
      }
    }
  }
}
