.headerHome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 900px;
  grid-template-areas:
    "navigation navigation"
    " Discover card";
  // align-items: flex-start;

  width: 100%;
  height: 100vh;

  font-family: "Poppins", sans-serif;

  color: aliceblue;
  background-color: #02050e;
}

.mainHome {
  font-family: "Poppins", sans-serif;

  color: aliceblue;
  background-color: #02050e;
}
