.header {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 1fr 900px;
  // grid-template-areas:
  //   "navigation navigation"
  //   " Discover card";
  // align-items: flex-start;

  width: 100%;
  height: auto;

  font-family: "Poppins", sans-serif;

  color: aliceblue;
  background-color: #02050e;
}

.main {
  width: 100%;
  height: auto;

  font-family: "Poppins", sans-serif;

  color: aliceblue;
  background-color: #02050e;

  .searchKey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
      margin: 20px 0;

      font-size: 48px;
      line-height: 63.98px;
    }
    
      & input {
        width: 799px;
        height: 72px;
        padding: 16px;
        border: 1px solid #eef2f6;

        font-size: 20px;

        color: aliceblue;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.1);
      }
    // & form {
    //   margin: 20px 0 0 0;


    // }
  }

  .categories {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: auto;

    .oneToggle {
      width: 100%;
      height: auto;
    }

    .someCategories {
      display: flex;
      justify-content: center;

      width: 100%;
      height: auto;
    }
  }

  .containerCard {
    display: flex;
    flex-flow: row wrap;
  }
}
