.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: card;

    padding: 20px;
    width: 410px;
    height: auto;
    margin: 50px auto 0 auto;

    font-size: 16px;

    border-radius: 10px;
    background-color: #272D37;

  .imageFirst {
    grid-area: imageFirst;

    padding: 20px;
    width: 352px;
    height: 352px;

    border-radius: 60px;
  }

  .parrafoFirst {
    grid-area: parrafoFirst;

    padding: 10px;

    font-size: 14px;
  }

  & button {
    grid-area: buttonFirst;

    padding: 10px;
    width: 80px;

    color: aliceblue;
    border-radius: 10px;
    background-color: #1e50ff;
  }
}
