.Discover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-area: Discover;


  padding: 40px ;

  & h1 {
    width: 620px;
    padding: 50px 50px 0 50px;

    font-size: 48px;
  }

  & p {
    width: 680px;
    height: auto;
    padding: 50px;

    font-size: 16px;
    text-align: start;
  }

  & button {
    padding: 15px;
    margin-left: 50px;
    width: 160px;

    font-size: 16px;

    color: aliceblue;
    border-radius: 10px;
    background-color: #1E50FF;
  }

  & button:hover {
    border: 1px #1E50FF solid;

    background-color: transparent;
  }

  & button:active {
    border: 3px #1E50FF solid;
  }
}
