.itemCount {
  width: 100%;

  .btnsCounter {
    grid-area: stocks;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & span {
      padding: 5px;
    }

    .less {
      width: 40px;
      height: 40px;
    }

    .less:hover {
      background-color: #3b5edb;
    }

    .more {
      width: 40px;
      height: 40px;
    }

    .more:hover {
      background-color: #3b5edb;
    }
  }

  .toPay {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;

    & button {
      width: 275px;
      height: 64px;
      padding: 16px;
      margin: 0 5px;

      font-size: 16px;
      font-weight: 600;
      line-height: 32px;

      color: aliceblue;
      border-radius: 8px;
      background-color: #1e50ff;
    }

    & button:hover {
      border: 1px #1e50ff solid;

      background-color: rgba(30, 80, 255, 0.15);
    }

    .btnOffer {
      display: none;
    }
  }
}
